modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "run"

[[workflows.workflow]]
name = "run"
mode = "sequential"
author = 43663170

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"

[deployment]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm run start"]
